session:
	autoStart: yes
	expiration: 14 days

application:
	catchExceptions: FALSE
	scanDirs: false

extensions:
	gettextLatteExtension: h4kuna\Gettext\DI\GettextLatteExtension(%appDir%)

gettextLatteExtension:
	#langs: # default is cs and en

	dictionaryPath: %appDir%/locale
	session: FALSE #default is ON

services:
	gettextLatteExtension.dictionary:
		arguments:
			storage: Nette\Caching\Storages\MemoryStorage()
